<%= form_for([@partido, @partido.bets.build]) do |f| %>
			<%= f.hidden_field :user_id, value: current_user.id%>
			<%= f.hidden_field :golesLocal, value: 0%>
			<%= f.hidden_field :golesVisitante, value: 0%>
			<div class="centrado">
				<div>Apuesto</div>
			
			<%= f.select :monto, current_user.montos_que_puede_apostar,
					          html:{ :class=>"select_monto" }%>
			<%= render "retornos"%>
			<%=f.submit "Apostar Pezzos", :class =>"btn btn-primary", 
																		  id:"jugarPezzos" %>
			<button class="btn">
				Apostar Dinero
			</button>
			</div>
<%end %>
