<section id="retaramigos">
	<header>
		<div class="imgbienvenida4"></div>
		<h2 class="titulosseccion"> EL ESTADIO</h2>
	</header>
	<% if flash[:notice]%>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= flash[:notice] %>
	</div>
	<% end %>
	<div class="datosmarcador">
		<div class="Ligamarcador"><%= @partido.nombre_torneo %></div>
		<div class="equipo2"> <%= @partido.local %></div>
		<div class="vsmarcador">VS</div>
		<div class="equipo2"> <%= @partido.visitante %></div>
		<div class="horamarcador"><%= @partido.hora_partido %></div>
		<div class="pjugando2"><%= pluralize(@partido.users.uniq.count, "persona") %> jugando</div>
	</div>
</section>
<section>
	<article id="miapuesta">
		<div class="contenedorentrada">
			<div class="equipin">
				<div class="imgequipo1">
					<%= image_tag @partido.logolocal %>
				</div>
				<div class="divmarcador">
					<%= @bet.golesLocal %>
				</div>
			</div>
			<div class="equipin">
				<div class="divmarcador">
					<%= @bet.golesVisitante %>
				</div>
				<div class="imgequipo2">
					<%= image_tag @partido.logovisitante %>
				</div> 
				<div class="clear"></div> 
			</div>
		</div>
	</article>
</section>
<div>
	<%= render "partidos/redes_sociales" %>
</div>
<div>
	<%= link_to "Jugar otra vez", partido_path(@partido), {:class => "botpezzos"} %>
	<%= link_to "Retar amigos", estadio_partido_path(@partido), {:class => "botpezzos"} %>
</div>

<section class="estadisticas clear">
	<div class="MiApuesta"><h3>Estadísticas</h3></div>
	<div class="contenedordatosapuesas">
		<div class="itemsicono"><%= image_tag "golazzos2/amigos.png", alt:"amigos"%></div>
		<div class="itemsapuestaestadio">Amigos</div>
		<div class="cifrasapuestasestadio"><%= @friends_in_bet.count %> amigos jugando</div>
	</div>
	<div class="contenedordatosapuesas">
		<div class="itemsicono"><%= image_tag "golazzos2/bolsapezzos.gif", alt:"bolsa pezzos"%></div>
		<div class="itemsapuestaestadio">Bolsa de Pezzos</div>
		<div class="cifrasapuestasestadio"><%=number_to_currency @partido.monto_total_apostado , precision:0%></div>
	</div>
	<div class="contenedordatosapuesas">
		<div class="itemsicono"><%= image_tag "golazzos2/retornopezzos.gif", alt:"retorno pezzos"%></div>
		<div class="itemsapuestaestadio">Retorno Pezzos</div>
		<div class="cifrasapuestasestadio"><%=number_to_currency (@partido.xveces_el_resultado(@bet.golesLocal, @bet.golesVisitante) * @bet.monto), precision:0 %></div>
	</div>
	<div class="contenedordatosapuesas">
		<div class="itemsicono"><%= image_tag "golazzos2/bolsadinero.gif", alt:"bolsa dinero"%></div>
		<div class="itemsapuestaestadio">Bolsa de Dinero</div>
		<div class="cifrasapuestasestadio"><%= number_to_currency "0",precision:0 %></div>
	</div>
	<div class="contenedordatosapuesas">
		<div class="itemsicono"><%= image_tag "golazzos2/retornodinero.gif", alt:"retorno dinero"%></div>
		<div class="itemsapuestaestadio">Retorno Dinero</div>
		<div class="cifrasapuestasestadio"><%= number_to_currency "0",precision:0 %></div>
	</div>
</section>

<section>
	<div class="MiApuesta">
		<h3>
			Actividades
		</h3>
	</div>
	<% @bets.each  do |bet| %>
	<div class="boxuser">
		<div class="fotoestado">
			<div class="apuestacolor"></div>
			<div class="fotperfil">
				<%=image_tag current_user.facebook.get_picture(bet.user.uid, {type: "large"}), {:class=> "thumbsail", :width => "40px"}%>
			</div>
			<div class="estado"><%= image_tag "golazzos2/ok.png", alt:"ok" %></div>
		</div>
		<div class="textosperfil">
			<div class="names">
				<%=link_to bet.user.name, user_path(bet.user) %>
			</div>
			<div class="textopublicacion" >
				Jugo <strong class="pezzares"><%=number_to_currency bet.monto, precision:0%> pezzos</strong> al <strong class="pezzares"><%= bet.golesLocal%> - <%= bet.golesVisitante %></strong> <%= @partido.nombre_del_equipo_que_va_a_ganar_la_apuesta(bet) %>.
			</div>
		</div>
	</div>
	<% end %>
</section>
<section>
	<div class="MiApuesta">
		<h3>
			Comenta el Partido con tus Amigos
		</h3>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <div class="fb-comments" data-href="http://goldos.herokuapp.com/partidos" data-colorscheme="light" data-numposts="10"></div>


  <style type="text/css">
  .fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
  }
  </style>


  <script type="text/javascript">

      $('.fb-comments').attr('data-href',window.location.href);
  
  </script>

   <div id="fb-root"></div>
</section>


