	<section id="retaramigos">
	<header>
		<div class="imgbienvenida5"></div>
		<h2 class="titulosseccion"> EL RESULTADO</h2>
	</header>
	<% if flash[:notice]%>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= flash[:notice] %>
	</div>
	<% end %>
	<div class="datosmarcador">
		<div class="Ligamarcador"><%= @partido.nombre_torneo %></div>
		<div class="equipo2"> <%= @partido.local %></div>
		<div class="vsmarcador">VS</div>
		<div class="equipo2"> <%= @partido.visitante %></div>
		<div class="horamarcador"><%= @partido.hora_partido %></div>
		<div class="pjugando2"><%= pluralize(@partido.users.uniq.count, "persona") %> jugando</div>
	</div>
</section>
<section>
	<article id="miapuesta">
		<div class="contenedorentrada">
			<div class="equipin">
				<div class="imgequipo1">
					<%= image_tag @partido.logolocal %>
				</div>
				<div class="divmarcador">
					<%= @partido.resultadoLocal %>
				</div>
			</div>
			<div class="equipin">
				<div class="divmarcador">
					<%= @partido.resultadoVisitante %>
				</div>
				<div class="imgequipo2">
					<%= image_tag @partido.logovisitante %>
				</div> 
				<div class="clear"></div> 
			</div>
		</div>
	</article>
</section>
<div>
	<%= render "partidos/redes_sociales" %>
</div>
<section id="resultadoDeAmigos">
	<div class="MiApuesta">
		<h3>
			Actividades
		</h3>
	</div>
		<%@friends.each_with_index do |friend, i| %>
	<div class="boxuser">

		<%case i %>
		<% when 0 %>
		<div class="oro"></div>
		<% when 1%>
		<div class="plata"></div>
		<% when 2 %>
		<div class="bronce"></div>
		<%end %>
		<div class="fotoestado">
			<div class="fotperfil">
				<%=image_tag current_user.facebook.get_picture(friend.uid, {type: "large"}), {:class=> "thumbsail", :width => "40px"}%>
			</div>
			<div class="estado">
				<%if @partido.ganancias_del_usuario(friend)>0 %>
				<%= image_tag "golazzos2/feliz.png" %>
				<%else %>
				<%= image_tag "golazzos2/triste.png" %>
				<% end %>
			</div>
		</div>
		<div class="textosperfil">
			<div class="names">
				<%=link_to friend.name , user_path(friend) %>
			</div>
			<div class="textopublicacion" >
				<%if @partido.ganancias_del_usuario(friend)>0 %>
					Gano <strong class="pezzares"><%= @partido.ganancias_del_usuario(friend) %>. </strong> <%= current_user.frase_de_ganador %>
				<%else %>
					Perdio <strong class="pezzares"><%= @partido.ganancias_del_usuario(friend) %>. </strong> <%= current_user.frase_de_perdedor %>
				<% end %>
				 
			</div>
		</div>
	</div>
	<% end %>
	<%if @friends.empty?%>
		<p>Ningun amigo tuyo jugó. No se te olvide retarlos en el proximo partido. <%= link_to "Ver mas Partidos", partidos_path%></p>
	<%end%>

	<br>

	<div class="MiApuesta" style="height:40px !important;">
		<h3>
			Comenta el Partido con tus Amigos
		</h3>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <div class="fb-comments" data-href="http://goldos.herokuapp.com/partidos" data-colorscheme="light" data-numposts="10"></div>


  <style type="text/css">
  .fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
  }
  </style>


  <script type="text/javascript">

  	  var url = window.location.href;
  	  var url_estadio = url.replace('resultado','estadio');
      $('.fb-comments').attr('data-href',url_estadio);
  </script>

   <div id="fb-root"></div>

</section>

