<section id="retaramigos">
	<header>
		<div class="imgbienvenida3"></div>
		<h2 class="titulosseccion"> EL RETO</h2>
	</header>
	<% if flash[:notice]%>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= flash[:notice] %>
	</div>
	<% end %>
	<div class="datosmarcador">
		<div class="Ligamarcador"><%= @partido.nombre_torneo %></div>
		<div class="equipo2"> <%= @partido.local %></div>
		<div class="vsmarcador">VS</div>
		<div class="equipo2"> <%= @partido.visitante %></div>
		<div class="horamarcador"><%= @partido.hora_partido %></div>
		<div class="pjugando2"><%= pluralize(@partido.users.uniq.count, "persona") %> jugando</div>
	</div>
</section>
<section>
	<article id="miapuesta">
		<div class="contenedorentrada">
			<div class="equipin">
				<div class="imgequipo1">
					<%= image_tag @partido.logolocal %>
				</div>
				<div class="divmarcador">
					<%= @bet.golesLocal %>
				</div>
			</div>
			<div class="equipin">
				<div class="divmarcador">
					<%= @bet.golesVisitante %>
				</div>
				<div class="imgequipo2">
					<%= image_tag @partido.logovisitante %>
				</div> 
				<div class="clear"></div> 
			</div>
		</div>
	</article>

</section>
<section class "amigosfacebook wrapper">
	<div>
		<%= link_to "Continuar al Estadio", estadio_partido_path(@partido), {:class => "botpezzos"} %>
	</div>
	<div>
		<%= render "partidos/redes_sociales" %>
	</div>
</section>
<section class="loginfacebook">
	<div class="terminosycondiciones">
		<h3>+ Amigos Retes + Puede Subir Tu Retorno</h3>
		<h3>Para retar a tus amigos acepta los terminos y condiciónes: <br> <input type="checkbox" value="0" name="agree"> <%= link_to "Terminos y Condiciones", "#", {:class => "linkreglasGolazzos"} %>
		</h3>
		<div class ="reglasGolazzos">
			<h3>Terminos y Condiciónes </h3>
			<p>
				Estamos creando la comunidad futbol online mas respetuosa... 
				"No te dejes sacar tarjeta roja". Sigue estas simples reglas.. <br><br>
				-Solo reta amigos que conoces. A ese que conociste en una fiesta hace 3 anos y no lo volviste a ver es mejor que no lo retes. <br><br>
				-Solo reta amigos que les guste el fútbol. No pierdas el tiempo retando a tu abuelita que nunca a cantado un golazzo! <br><br>
				-Aprovechas y Incluye en el espacio un "saludito" a tus amigos. <br><br>
				Si piensas que tu privacidad esta comprometida escribenos ya a infogolazzos@gmail.com y tomaremos medidas al
				respecto. Sacaremos tarjetas amarillas y rojas si es necesario.
			</p>
		</div>
	</div>
	<div class="botonfacebook">
		<h3>+ Amigos Retes + Puede Subir Tu Retorno</h3>
		<h3>Haz click en el boton de "ENVIAR" para RETAR:</h3>
		<!--  <div class="fb-send" data-href=<%= @linkinvitation %>></div> -->
		
		<fb:send href=<%= @linkinvitation %> colorscheme="light"></fb:send>
	</div>

</section>

<section class="amigosfacebook wrapper amigosfb_padding">
	<h3>Aqui tus amigos como referencia.</h3>
	<%= render "invitations/facebook_friends" %>
</section>

