<% if @user && @bet %>
<section id="retodeamigo" class="amigosfacebook ">
	<div class="amigoreto">
		<div class="nombreamigoydescripcion">
			<p class="nombreamigo"><%= "#{@user.name} te esta retando!"%></p>
			<p>Acepta el reto. Juega tu marcador. Invita mas Amigos. Descubre los marcadores de tus amigos.</p>
		</div>
	</div>
</section>
<%end %>
<% if flash[:notice]%>
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<%= flash[:notice] %>
</div>
<% end %>
<section class="colocaTuMarcador">
	<div class="imgbienvenida2no"></div>
	<header>
		<h2 class="titulosseccion">MI APUESTA</h2>
	</header>
	<div>
		<%= flash[:notice] %>
	</div>
	<div class="datosmarcador">
		<div class="Ligamarcador"><%= @partido.nombre_torneo %></div>
		<div class="equipo2"> <%= @partido.local %></div>
		<div class="vsmarcador">VS</div>
		<div class="equipo2"> <%= @partido.visitante %></div>
		<div class="horamarcador"><%= @partido.hora_partido %></div>
		<div class="pjugando2"><%= pluralize(@partido.users.uniq.count, "persona") %> jugando</div>
	</div>
</section>
<% if current_user %>
<section id="apuesta">
	<article id="miapuesta">
		<%= form_for([@partido, @partido.bets.build]) do |f| %>
		<%= f.hidden_field :user_id, value: current_user.id%>
		<div class="contenedorentrada">
			<div class="equipin">
				<div class="imgequipo1">
					<%= image_tag @partido.logolocal %>
				</div>
				<div class="divmarcador">
					<%= f.number_field :golesLocal, {
						:value => "0",
						:max=>"10" ,
						:min=>"0" ,
						:placeholder=>"0",
						:size=>"10px", 
						:class=>"marcadoruser1 marcadorlocal",  
						:align=>"middle"}  %>
					</div>
				</div>
				<div class="equipin">
					<div class="divmarcador">
						<%= f.number_field :golesVisitante, {
							:value => "0",
							:max=>"10" ,
							:min=>"0" ,
							:placeholder=>"0",
							:size=>"10px", 
							:class=>"marcadoruser1 marcadorvisitante",  
							:align=>"middle"}%>
						</div>
						<div class="imgequipo2">
							<%= image_tag @partido.logovisitante %>
						</div> 
						<div class="clear"></div> 
					</div>
				</div>
				<div class="opcionesplata">
					<%= f.select :monto, ['10000',
						'20000',
						'30000',
						'40000',
						'50000',
						'60000',
						'70000',
						'80000',
						'90000',
						'100000']%>
					</div>
					<p class="retornoesperado">Retorno Esperado: <span class="cifrasapuestas"><%= number_with_precision(@partido.xveces_el_resultado(0,0,10000).round(3)*10000, precision: 0)%></span></p>
					<%= f.submit "APOSTAR PEZZOS", {:class=> "botpezzos"}%> 
					<%end %>
					<input type="submit" Value="APOSTAR DINERO" class="botdinero" />
				</article>
				<article class="retaramigos" id="retaramigos">
					<input type="submit" Value="Retar a tus amigos" class="botfacebook" />
					<p class="masamigos">Entre más amigos retes, más sube tu retorno.</p>
					<div class="vermas">
						<a href="partidos.html">jugar solo</a>
					</div>
				</article>
				<article>
					<% for i in 0..10 %>
					<% for j in 0..10 %>
					<div class=<%= "local#{i}visitante#{j}"%> 
						data-10000=<%= @partido.xveces_el_resultado(i,j,10000).round(3) %>
						data-20000=<%= @partido.xveces_el_resultado(i,j,20000).round(3) %>
						data-30000=<%= @partido.xveces_el_resultado(i,j,30000).round(3) %>
						data-40000=<%= @partido.xveces_el_resultado(i,j,40000).round(3) %> 
						data-50000=<%= @partido.xveces_el_resultado(i,j,50000).round(3) %>    
						data-60000=<%= @partido.xveces_el_resultado(i,j,60000).round(3) %> 
						data-70000=<%= @partido.xveces_el_resultado(i,j,70000).round(3) %> 
						data-80000=<%= @partido.xveces_el_resultado(i,j,80000).round(3) %> 
						data-90000=<%= @partido.xveces_el_resultado(i,j,90000).round(3) %> 
						data-100000=<%= @partido.xveces_el_resultado(i,j,100000).round(3) %>> 
					</div>
					<%end %>
					<%end  %>
				</article>
			</section>
			<%else %>
			<section class="loginfacebook">
				<h3> Para continuar:</h3>
				<%= link_to "login con Facebook", "/auth/facebook",  {:onClick => "_gaq.push(['_trackEvent', 'usuario', 'login'])", :class=> "botlogin", partido_id: @partido.id } %>
			</section>
			<%end %> 