<!-- Viene de un reto -->
<% if @user && @bet %>
	<%= render "viene_de_un_amigo"%>
<%end %>

<!-- Flash Notices -->
<%= render "layouts/flash_notice"%>


<!-- Page Name and Navegation -->
<div class="imagen_titulo"></div>
<section class="navigation azul-claro-bg azul-claro" >
	<header class="">
		<h1>Mi Apuesta</h1>
	</header>
	<nav>
		<li><a href="#" class="active">Marcador</a></li>
		<li><a href="#">Gana/Pierde</a></li>
		<li><a href="#">Primer Gol</a></li>
		<li><a href="#">Faltas</a></li>
		<li><a href="#">Predicciones</a></li>
		<li><a href="#">Estadisticas</a></li>
	</nav>
</section>

<!-- Body -->
<% if current_user %>
	<section id="apuesta">
		<%= render "partido_bet_form"%>
		<%=render "bets_info"%>
	</section>
	<section class="titulosseccion">
		<%= render "partidos/redes_sociales" %>
	</section>
<%else %>
		<section class="loginfacebook">
				<h3>Tienes 100,000 Pezzos Gratis, Cobralos y Juega:</h3>
				<%= link_to "¡Registrate y reta!", "/auth/facebook",  
					{   :onClick => "_gaq.push(['_trackEvent', 'usuario', 'login'])", 
						    :class => "botlogin", 
					     partido_id: @partido.id } %>
		</section>
<% end %>

<!-- Modal de confirmacion -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" 
			aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" 
    data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">
    	Deseas compartir tu apuesta con tus amigos en Facebook?
    </h3>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
    	Continuar, sin compartir
    </button>
    <button class="btn btn-primary">Compartir</button>
  </div>
</div>

<!-- javascript Local Storage Santiago Arango -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
		$('.botlogin').on('click',function(){
			localStorage.apuesta= $('#memory').html()+"-"+$('#bet_golesLocal').val()+"-"+$('#bet_golesVisitante').val() ;
			console.log($('#bet_golesLocal').val());
			console.log($('#bet_golesVisitante').val());
			console.log($('#memory').html());
		});
	});
</script>
