<section class="cperfil">
    <div class="modulo1">
        <div class="fotoperfil">
            <%=image_tag current_user.facebook.get_picture(@user.uid, {type: "large"}), :class=>"img-rounded"%>
        </div>
        <div>
            <%= link_to "Partidos", partidos_path, {:class => "botonGolazzos"} %>
        </div>
    </div>
    <div class="modulo2">
        <div class="nombreperfil"><%= @user.name %> </div>
        <div class="boxpezzos">
            <div class="topicpezzos">Pezzos</div>
            <div class="cantidadpezzos"><%= @user.pezzos %></div>
        </div>
        <div class="boxdinero">
            <div class="topicdinero">Dinero</div>
            <div class="cantidaddinero">0</div>
        </div>
        <div class="modulo3">

            <div class="logrosuser">
                <div class="nombrelogro" id="puntos">$ Ganados</div>
                <div class="numerologro"><%= @user.pezzos_acumulados %></div>
            </div>
            <div class="logrosuser">
                <div class="nombrelogro" id="ganados">Ganados</div>
                <div class="numerologro"><%= @user.partidos_ganados %></div>
            </div>
            <div class="logrosuser">
                <div class="nombrelogro" id="perdidos">Perdidos</div>
                <div class="numerologro"><%= @user.partidos_perdidos %></div>
            </div>
        </div>
    </div>
</section>
<ul class="nav nav-tabs">
  <li class ="active"><a href="#actividades" data-toggle="tab" >Actividades</a></li>
  <li><a href="#ultimas_apuestas" data-toggle="tab">Mis Apuestas</a></li>
  <li><a href="#amigos" data-toggle="tab">Amigos</a></li>
</ul>

<div class="tab-content">
    <div id="actividades" class="tab-pane active">
        <section>
            <% @bets.each  do |bet| %>
            <div class="boxuser bloque">
                <div class="boxuserpadding">
                    <div class="fotoestado">
                        <div class="apuestacolor"></div>
                        <div class="fotperfil">
                            <%=image_tag current_user.facebook.get_picture(bet.user.uid)%>
                        </div>
                        <div class="estado">
                            <%if bet.pezzos_ganados.to_i > 0 %>
                            <%= image_tag "golazzos2/feliz.png", alt:"ok" %>
                            <%else %>
                            <%= image_tag "golazzos2/triste.png", alt:"ok" %>
                            <% end %>

                        </div>
                    </div>
                    <div class="textosperfil">
                        <div class="names">
                            <%=link_to bet.user.name, user_path(bet.user) %>
                        </div>
                        <div class="textopublicacion" >
                            Jugo 
                            <strong class="pezzares"><%=number_to_currency bet.monto, precision:0%> pezzos</strong> 
                            al 
                            <strong class="pezzares"><%= bet.golesLocal%> - <%= bet.golesVisitante %></strong> 
                            <%= bet.partido.nombre_del_equipo_que_va_a_ganar_la_apuesta(bet) %>.

                            <%if bet.pezzos_ganados.to_i > 0 %>
                            Gano
                            <strong class="pezzares"><%= bet.pezzos_ganados %>.</strong>
                            <%= current_user.frase_de_ganador %>
                            <%else %>
                            Perdio. <%= current_user.frase_de_perdedor %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </section> 
    </div>
    <div id="ultimas_apuestas" class="tab-pane">
        <%@partidos.each do |partido| %>
        <section>  
            <div class="MiApuesta">
              <article class="cajamarcador">
                <div class="marcadorCentrado">
                  <div class="escudoequipo">
                    <%= image_tag partido.logolocal %>
                    <h3> <%= partido.local %></h3>
                </div>
                <div class="datospartido">
                    <div class="Liga"><%= partido.nombre_torneo %></div>
                    <div class="vs"><%= "#{partido.resultadoLocal} - #{partido.resultadoVisitante}" %></div>
                    <div class="hora"><%= partido.hora_partido %></div>
                    <div class="pjugando"><%= pluralize(partido.users.uniq.count, "persona") %> jugando</div>
                    <div>
                     <% if partido.terminado %>
                     <%= link_to "Ir al Resultado", resultado_partido_path(partido) %>
                     <%else %>
                     <%= link_to "Ir al Estadio", estadio_partido_path(partido) %>
                     <%end %>
                 </div>
             </div>
             <div class="escudoequipo">
                <%= image_tag partido.logovisitante %>
                <h3> <%= partido.visitante %></h3>
            </div>
        </div>
    </article>
    <div>

    </div>
</div>
<div>

   <table class="table tablapartidos"> 
      <thead>
        <tr>
          <th><small>Marcador</small></th>
          <th><small>Apuesta</small></th>
          <th>
            <small> 
                <% if partido.cerrado %>
                <div class="MiApuestaRetornoFinal"> Retorno Garantizado</div>
                <% else %>
                <div class="MiApuestaRetornoEstimado">Retorno Esperado</div>

                <% end %>
            </small>
        </th>
        <th><small>Retorno Final</small></th>
        <th></th>
    </tr>
</thead>
<tbody>
    <%@user.bets.where("partido_id = ?", partido.id).each do |bet|%>
    <tr>
        <td><%= "#{bet.golesLocal} - #{bet.golesVisitante}" %></td>
        <td><%= number_to_currency bet.monto, precision: 0%></td>
        <% if bet.partido.cerrado %>
        <td>
            <div class="MiApuestaRetornoFinal">
                <%=number_to_currency bet.partido.xveces_el_resultado(bet.golesLocal, bet.golesVisitante)* bet.monto, precision: 0 %> 
            </div>
        </td>
        <td>
            Por Jugar
        </td>
        <td>
        </td>
        <%  elsif bet.partido.repartido == false %>
        <td>
            <div class="MiApuestaRetornoEstimado">
                <%=number_to_currency bet.partido.xveces_el_resultado(bet.golesLocal, bet.golesVisitante)* bet.monto, precision: 0 %> 
            </div>
        </td>
        <td>
            Por Jugar
        </td>
        <td>
        </td>
        <% elsif bet.pezzos_ganados ==nil %>
        <td> 
            <div class="MiApuestaRetornoFinal">
                <%=number_to_currency bet.partido.xveces_el_resultado(bet.golesLocal, bet.golesVisitante)* bet.monto, precision:0 %> 
            </div>
        </td>
        <td>
            <div class="MiApuestaPerdi">
                <%=number_to_currency bet.monto * -1, precision: 0%>
            </div>
        </td>
        <td>
            <%= image_tag "golazzos2/triste.png", alt:"triste" %>
        </td>
        <% elsif %>
        <td>
            <div class="MiApuestaRetornoFinal">
                <%=number_to_currency bet.partido.xveces_el_resultado(bet.golesLocal, bet.golesVisitante)* bet.monto, precision: 0 %> 
            </div>
        </td>
        <td>
            <div class="MiApuestaGane">
                <%= number_to_currency bet.pezzos_ganados, precision: 0 %>
            </div>
        </td>
        <td>
           <%= image_tag "golazzos2/feliz.png", alt: "feliz" %>
       </td>
       <% end %>
   </tr>
   <%end  %>
</tbody>
</table>
</div>
</section>
<%end %>


</div>
<div id="amigos" class="tab-pane">
    <section id="resultadoDeAmigos">

        <table class="table tablapartidos">
            <thead>
                <tr>
                    <th></th>
                    <th><small>Amigo</small></th>
                    <th><small>$ ganados</small></th>
                    <th><small> Ganados</small></th>
                    <th><small> Perdidos</small></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

             <% @friends.each_with_index  do |friend, i| %>
             <tr class=<%= "grismio" if friend.id == @user.id %>>

                <td>
                    <%= i +1 %>
                    <%case i %>
                    <% when 0 %>
                    <div class="oro"></div>
                    <% when 1%>
                    <div class="plata"></div>
                    <% when 2 %>
                    <div class="bronce"></div>
                    <%end  %>
                    
                </td>
                <td>
                    <%=link_to friend.name, user_path(friend) %>
                </td>
                <td>
                    <%= friend.pezzos_acumulados %>
                </td>
                <td><%= friend.partidos_ganados %></td>
                <td><%= friend.partidos_perdidos %></td>
                <td></td>
            </tr>
            <%end%>
            
        </tbody>
    </table>

</section>
</div>
</div>
