<section class="cperfil">
    <div class="modulo1">
        <div class="fotoperfil">
            <%=image_tag current_user.facebook.get_picture(@user.uid, {type: "large"}), :class=>"img-rounded"%>
        </div>
        <div>
            <%= link_to "Partidos", partidos_path, {:class => "botonGolazzos"} %>
        </div>
    </div>
    <div class="modulo2">
        <div class="nombreperfil"><%= @user.name %> </div>
        <div class="boxpezzos">
            <div class="topicpezzos">Pezzo$</div>
            <div class="cantidadpezzos"><%= number_to_currency @user.pezzos,  precision:0%></div>
        </div>
        <div class="boxdinero">
            <div class="topicdinero">Dinero</div>
            <div class="cantidaddinero">0</div>
        </div>
        <div class="modulo3">

            <div class="logrosuser">
                <div class="nombrelogro" id="puntos">$ Ganados</div>
                <div class="numerologro"><%=number_to_currency @user.pezzos_acumulados,  precision:0%></div>
            </div>
            <div class="logrosuser">
                <div class="nombrelogro" id="ganados">Ganados</div>
                <div class="numerologro"><%= @user.partidos_ganados %></div>
            </div>
            <div class="logrosuser">
                <div class="nombrelogro" id="perdidos">Perdidos</div>
                <div class="numerologro"><%= @user.partidos_perdidos %></div>
            </div>
        </div>
        <div class="experience">
            <div class="nombreperfil"><%="Nivel #{@user.level.step}: #{@user.level.title}"%></div>
            <div>
                <%= "XP #{@user.experience} / #{@user.level.max_experience}" %>
            </div>
            <div class="progress">
              <div class="bar" style=<%="width: #{@user.userLevel.progress}%;"%>></div>
            </div>

        </div>
    </div>
</section>
<ul class="nav nav-tabs">
  <li class ="active"><a href="#actividades" data-toggle="tab" >Actividad</a></li>
  <li><a href="#ultimas_apuestas" data-toggle="tab">Apuestas</a></li>
  <li><a href="#amigos" data-toggle="tab">Competencia</a></li>
</ul>

<div class="tab-content">
    <div id="actividades" class="tab-pane active">
        <section>
            <% @bets.each  do |bet| %>
            <div class="boxuser bloque">
                <div class="boxuserpadding">
                    <div class="fotoestado">
                        <div class="apuestacolor"></div>
                        <div class="fotperfil">
                            <%=image_tag current_user.facebook.get_picture(bet.user.uid)%>
                        </div>
                        <div class="estado">
                            <% if !bet.partido.terminado%>
                            <!-- No se agrega ninguna carita. -->
                            <%elsif bet.pezzos_ganados.to_i > 0 %>
                            <%= image_tag "golazzos2/feliz.png", alt:"ok" %>
                            <%else %>
                            <%= image_tag "golazzos2/triste.png", alt:"ok" %>
                            <% end %>

                        </div>
                    </div>
                    <div class="textosperfil">
                        <div class="names">
                            <%=link_to bet.user.name, user_path(bet.user) %>
                            <small class="timeago"><%=distance_of_time_in_words( bet.created_at, Time.now) %> ago</small>
                        </div>
                        <div class="textopublicacion" >
                            Jugó
                            <strong class="pezzares">
                            <%=number_to_currency bet.monto, precision:0%>   
                            </strong>
                            pezzos a
                            <strong class="pezzares">
                            <%= link_to "#{bet.partido.local} #{bet.golesLocal} - #{bet.golesVisitante} #{bet.partido.visitante}", bet.partido %>
                            .
                            </strong>

                            <!-- EL PARTIDO NO A EMPEZADO -->
                            <%if !bet.partido.cerrado %>
                            ¡Apuesta y reta a tus amigos!
                            <%= link_to "ir al partido.", bet.partido %>

                            <!-- EL PARTIDO YA EMPEZO Y NO A TERMINADO -->
                            <%elsif !bet.partido.terminado %>
                            ¡El partido ya empezo, no se aceptan mas apuestas!

                            <!-- GANO LA APUESTA -->
                            <%elsif bet.pezzos_ganados.to_i >0  %>
                                    Gano
                                    <strong class="pezzares">
                                    <%= number_to_currency bet.pezzos_ganados, precision:0 %>
                                    </strong>
                                    . <%= current_user.frase_de_ganador %>
                                    
                            <!-- PERDIO LA APUESTA -->
                            <%else %>
                                    Perdio
                                    <strong class="pezzares">
                                    <%= number_to_currency bet.pezzos_ganados, precision:0 %>
                                    </strong>
                                    . <%= current_user.frase_de_perdedor %>
                            <%end %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </section> 
    </div>
    <div id="ultimas_apuestas" class="tab-pane">
        <%= render "apuestas_partidos"%>
    </div>
<div id="amigos" class="tab-pane">
    <section id="resultadoDeAmigos">

        <table class="table tablapartidos">
            <thead>
                <tr>
                    <th></th>
                    <th><small>Amigo</small></th>
                    <th><small>$ ganados</small></th>
                    <th><small> Ganados</small></th>
                    <th><small> Perdidos</small></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

             <% @friends.each_with_index  do |friend, i| %>
             <tr class=<%= "grismio" if friend.id == @user.id %>>

                <td>
                    <%= i +1 %>
                    <%case i %>
                    <% when 0 %>
                    <div class="oro"></div>
                    <% when 1%>
                    <div class="plata"></div>
                    <% when 2 %>
                    <div class="bronce"></div>
                    <%end  %>
                    
                </td>
                <td>
                    <%=link_to friend.name, user_path(friend) %>
                </td>
                <td>
                    <%= friend.pezzos_acumulados %>
                </td>
                <td><%= friend.partidos_ganados %></td>
                <td><%= friend.partidos_perdidos %></td>
                <td></td>
            </tr>
            <%end%>
            
        </tbody>
    </table>
    <br>

    <div class="MiApuesta" style="height:40px !important;">
        <h3>
            Comenta la Competencia con tus Amigos
        </h3>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <div class="fb-comments" data-href="http://goldos.herokuapp.com/partidos" data-colorscheme="light" data-numposts="10"></div>


    <style type="text/css">
    .fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
        width: 100% !important;
    }
    </style>


    <script type="text/javascript">
        $('.fb-comments').attr('data-href',window.location.href);


        var reto = localStorage.reto;
        if (reto == undefined) {
            alert("no viene de un reto");
        }else{
            alert("viene de un reto");
            var reminder = reto.split("-");
            console.log(reminder);
            localStorage.clear();
            window.location = "/partidos/1-millos_vs_santafe?source=facebook&userid="+reminder[1]+"&betid="+reminder[0];
        }

        

    </script>

    <div id="fb-root"></div>
</section>
</div>
</div>
