<section class="cperfil">
    <div class="modulo1">
        <div class="fotoperfil"><%=image_tag current_user.facebook.get_picture(current_user.uid, {type: "large"})%></div>
        <div> 
            <div class="playerlevel">Level 10</div>
            <div class="nextlevel"> 200,000 pezzos para siguiente nivel.</div>
        </div>
    </div>
    <div class="modulo2">
        <div class="nombreperfil"><%= current_user.name %> </div>
        <div class="logout"><%= link_to "Sign out", signout_path, id: "sign_out" %></div>
        <div class="boxpezzos">
            <div class="topicpezzos">Pezzos</div>
            <div class="cantidadpezzos"><%= current_user.pezzos %></div>
        </div>
        <div class="boxdinero">
            <div class="topicdinero">Dinero</div>
            <div class="cantidaddinero">0</div>
        </div>
        <div class="modulo3">

            <div class="logrosuser">
                <div class="nombrelogro" id="puntos">Acumulado</div>
                <div class="numerologro">0</div>
            </div>
            <div class="logrosuser">
                <div class="nombrelogro" id="ganados">Ganados</div>
                <div class="numerologro">0</div>
            </div>
            <div class="logrosuser">
                <div class="nombrelogro" id="perdidos">Perdidos</div>
                <div class="numerologro">0</div>
            </div>
        </div>
    </div>
</section>
<section>
    <% @bets.each  do |bet| %>
    <div class="boxuser">
        <div class="fotoestado">
            <div class="apuestacolor"></div>
            <div class="fotperfil">
            </div>
            <div class="estado"><%= image_tag "golazzos2/ok.png", alt:"ok" %></div>
        </div>
        <div class="textosperfil">
            <div class="names">
                <%=link_to bet.user.name, user_path(bet.user) %>
            </div>
            <div class="textopublicacion" >
                Jugo <strong class="pezzares"><%=number_to_currency bet.monto, precision:0%> pezzos</strong> al <strong class="pezzares"><%= bet.golesLocal%> - <%= bet.golesVisitante %></strong> <%= @partido.nombre_del_equipo_que_va_a_ganar_la_apuesta(bet) %>.
            </div>
        </div>
        <div class="comentarios">
            <a href="123.html"></a>
        </div>
    </div>
    <% end %>
</section>