  <% if flash[:notice]%>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
  <% end %>

  <section id="bienvenida">
    <div class="imgbienvenida5">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-4">
          El juego online donde
          </div>
          <p></p>
          <p>Apuestas y ganas</p>
        
        </div>
       </div>
    </div>
    <div class="titulosseccion">
      <%= render "partidos/redes_sociales" %>
    </div>
    
  </section>      

  <section id="partidosSabrozzos" class="clear">
    <header >
    </header>  
    <%@partidos.each do |partido| %>
    <a href=<%= partido_path(partido)%>> 
      <article class="cajamarcador">
        <div class="marcadorCentrado">
          <div class="escudoequipo">
           <%= image_tag partido.logolocal %>
           <h3> <%= partido.local %></h3>
         </div>
         <div class="datospartido">
          <div class="Liga"><%= partido.nombre_torneo %></div>
          <div class="vs">VS</div>
          <div class="hora"><%= partido.hora_partido %></div>
          <%if partido.users.uniq.count >=10%>
            <div class="pjugando2"><%= pluralize(partido.users.uniq.count, "persona") %> jugando</div>
          <%end%>
          <div class="pjugando">in <%=distance_of_time_in_words( partido.diapartido, Time.now) %></div>
        </div>
        <div class="escudoequipo">
          <%= image_tag partido.logovisitante %>
          <h3> <%= partido.visitante %></h3>
        </div>
      </div>
      <div class="botcontinuar"></div>
    </article>
  </a>
  <%end %>
  <div class="masPartidos"><%= link_to "ver mas partidos", partidos_path %></div> 
</section>

<section id="sobreGolazzos" >
  <div class="container">
    <div class="row-fluid">
      <h2 class="text-center">
        COMO APOSTAR Y GANAR PEZZOS
      </h2>
      <p class="text-center">
        Golazzo$ es un juego divertido donde puedes ganar dinero retando a tus amigos a los marcadores finales de tus equipos favoritos. Funciona en (3) simples pazzos
      </p>
    </div>
    <div class="row-fluid">
        <div class="span4 text-center">
            <%= image_tag "golazzos2/pazzo1.png"%>
          <p>
              SELECCIONA tu partido y tu marcador esperado que te dará una ganancia si aciertas
          </p>
        </div>
        <div class="span4 text-center">
            <%= image_tag "golazzos2/pazzo2.png" %>
          <p>
            RETA a tus amigos y apuestas con dinero real o ficticio que llamamos "pezzo$"
          </p>
        </div>
        <div class="span4 text-center">
            <%= image_tag "golazzos2/pazzo3.png" %>
          <p>
            COMPARTE tu pasíon en nuestro "Estadio" donde comentas el partido. Ganas si aciertas el marcador. 
          </p>
        </div>
    </div>
  </div>

  <div class="masPartidos"></div>
</section>
<section class="titulosseccion ">
  <h2 class="reglamentoGolazzos">
    <%= link_to "REGLAMENTO", home_reglamento_path %>
  </h2>
</section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
  $(function(){
      $(window).resize(function() {
      
        pos = ($(window).height() - 100 )+'px';
        $('.imgbienvenida5').css('height',pos);

      });
      
      var calcular = function(){
        
        pos = ($(window).height() - 100)+'px';
        $('.imgbienvenida5').css('height',pos);

      }

      calcular();
    
  });
</script>



