%h2.titulosseccion Levels
=render "layouts/flash_notice"
.container
	.row
	
		%table.table
			%tr
				%th Experiencia Minima
				%th Experiencia Maxima
				%th Titulo
				%th Nivel
				%th Opciones
			-@levels.each do |level|
				%tr
					%td= level.min_experience
					%td= level.max_experience					
					%td= level.title
					%td= level.step
					%td= link_to "Eliminar", level, method: :delete
			%tr 
				=form_for@level, html:{:class =>"form-inline"} do |f|
					%td=f.number_field :min_experience, placeholder:"XP Minima"
					%td=f.number_field :max_experience, placeholder:"XP Maxima" 
					%td=f.text_field   :title,          placeholder:"Titulo del Nivel"
					%td=f.number_field :step,						placeholder:"Nivel"
					%td=f.submit 			 :class=>"btn btn-primary"