<header class="header">
    <a class="logo" href=<%= root_path %>></a>
    <a href="#" class="navegacion" id="nav">
        <a href="#" class="botperfil" id="botperfil">
            <%if current_user %>
            pezzos: <%=number_to_currency current_user.pezzos, precision: 0  %> 
            <br/>
            <span>pesos: <%= number_to_currency 50000, precision: 0 %></span>
            <%end %>
        </a>
    </header>
    <section id="perfiluser">
        <%if current_user %>
        <div class="cperfil">
            <div class="modulo1">
                <div class="fotoperfil"><%=image_tag current_user.facebook.get_picture(current_user.uid, {type: "large"})%></div>
                <div> 
                    <div class="playerlevel">Level 10</div>
                    <div class="nextlevel"> 200,000 pezzos para siguiente nivel.</div>
                </div>
            </div>
            <div class="modulo2">
                <div class="nombreperfil"><%= current_user.name %> </div>
                <div class="logout"><%= link_to "ver perfil", user_path(current_user)%></div>
                <div class="logout"><%= link_to "Sign out", signout_path, id: "sign_out"%></div>
                
                <div class="boxpezzos">
                    <div class="topicpezzos">Pezzos</div>
                    <div class="cantidadpezzos"><%= current_user.pezzos %></div>
                </div>
                <div class="boxdinero">
                    <div class="topicdinero">Dinero</div>
                    <div class="cantidaddinero">0</div>
                </div>
            </div>
        </div>
        <%else %>
        <%= link_to "Login con facebook", "/auth/facebook",  {:onClick => "_gaq.push(['_trackEvent', 'usuario', 'login'])", :class=> "botlogin"} %>
        <% end %>
    </section>
    <nav id="navmenu">
        <ul>
            <li><%= link_to "Partidos", partidos_path %></li>
            <li><%= link_to "Reglamento", "#" %></li>
            <li><%= link_to "Contacto", "#" %></li>
        </ul>
    </nav>